extends layout/layout

block body
  include partials/order_modal
  section.main.buy
    .top-block
      video.dots(data-mob-src='../build/img/pages/buy/dots-mobile.mp4',
      data-desktop-src='../build/img/pages/buy/dots-desktop.mp4',
      playsinline,
      muted,
      autoplay,
      loop,)
      .site-container
        .title Create your carbogatto
        .view
          .view-title View
          .view-value
            label
              input(type='radio',
              name='view-type',
              value='side',
              checked)
              span side
            label
              input(type='radio',
              name='view-type'
              value='half')
              span half
        img.bike(src='../build/img/pages/buy/models/standart.png')
        img.details(src='../build/img/pages/buy/details/black_details.png')
        img.links(src='../build/img/pages/buy/details/allim_links.png')
        .params
          .container
            table(align='center')
              tr
                td
                  span Details color:
                  em.details-name
                td.details-price
              tr
                td
                  span Links:
                  em.links-name
                td.links-price
              tr
                td
                  span Frame:
                  em.frame-name
                td.frame-price
              tr
                td
                  span Battery:
                  em.battery-name
                td.battery-price
              tr
                td
                  span Motor:
                  em.motor-name
                td.motor-price
              tr
                td
                  span Tyres:
                  em.tyres-name
                td.tyres-price
            .button
              //После нажатия на эту кнопку собранные байк кладется в корзину
              .button-component.__blue.__buy-button buy
    .total-block
      .site-container
        .container
          small Select items to customize your bike
          em
            i total:
            b
              span.total-price 93 000
              span €
    .site-container
      .container
        .color-block
          .block-title Color
          .items
            //value - id цвета в БД
              data-price - цена данного цвета
              data-default - ставится только у одного цвета - цвета, который выбран по умолчанию
              у одного цвета обязательно должен сразу быть атрибут checked
            label.item
              input(type='radio',
              name='color',
              checked,
              value='color_1',
              data-name='Carbon',
              data-price=1000,
              data-default='true',
              data-fill='carbon',
              data-side='../build/img/pages/buy/models/standart.png',
              data-half='../build/img/pages/buy/models/standart_half.png')
              svg.hex.__carbon(fill='white', fill-opacity='0.1'): +use('hex')
              svg.hex-checked.__carbon(fill='white', fill-opacity='0.1'): +use('hex-border')
              .check
            label.item
              input(type='radio',
              name='color',
              value='color_2',
              data-name='Yellow',
              data-price=1000,
              data-fill='#e5b700',
              data-side='../build/img/pages/buy/models/yellow.png',
              data-half='../build/img/pages/buy/models/yellow_half.png')
              svg.hex(fill='#e5b700'): +use('hex')
              svg.hex-checked(fill='#e5b700'): +use('hex-border')
              .check
            label.item
              input(type='radio',
              name='color',
              value='color_3',
              data-name='Black-red',
              data-price=1000,
              data-fill='#212121',
              data-side='../build/img/pages/buy/models/black-red.png',
              data-half='../build/img/pages/buy/models/black-red_half.png')
              svg.hex(fill='#212121'): +use('hex')
              svg.hex-checked(fill='#212121'): +use('hex-border')
              .check
            label.item
              input(type='radio',
              name='color',
              value='color_4',
              data-name='Red',
              data-price=1000,
              data-fill='#9b2821',
              data-side='../build/img/pages/buy/models/red.png',
              data-half='../build/img/pages/buy/models/red_half.png')
              svg.hex(fill='#9b2821'): +use('hex')
              svg.hex-checked(fill='#9b2821'): +use('hex-border')
              .check
            label.item
              input(type='radio',
              name='color',
              value='color_5',
              data-name='Blue',
              data-price=1000,
              data-fill='#00a4f0',
              data-side='../build/img/pages/buy/models/blue.png',
              data-half='../build/img/pages/buy/models/blue_half.png')
              svg.hex(fill='#00a4f0'): +use('hex')
              svg.hex-checked(fill='#00a4f0'): +use('hex-border')
              .check
            label.item
              input(type='radio',
              name='color',
              value='color_6',
              data-name='Camo',
              data-price=1000,
              data-fill='#806b2a',
              data-side='../build/img/pages/buy/models/camo.png',
              data-half='../build/img/pages/buy/models/camo_half.png')
              svg.hex(fill='#806b2a'): +use('hex')
              svg.hex-checked(fill='#806b2a'): +use('hex-border')
              .check
            label.item
              input(type='radio',
              name='color',
              value='color_7',
              data-name='White',
              data-price=500,
              data-fill='white',
              data-side='../build/img/pages/buy/models/white.png',
              data-half='../build/img/pages/buy/models/white_half.png')
              svg.hex(fill='white'): +use('hex-border-grey')
              svg.hex-checked(fill='white'): +use('hex-border')
              .check

        .options-block
          .option.details-control
            .block-title Handles, Supports AND Seat COLOR
            .row
              svg.hex(fill='black'): +use('hex')
              label.button
                //В value помещаем id конкретной выбранной опции
                  data-default - логика такая же как и у цвета
                input(type='radio',
                name='details',
                checked,
                value='details_1',
                data-default='true',
                data-fill='black',
                data-side='../build/img/pages/buy/details/black_details.png',
                data-half='../build/img/pages/buy/details/black_details_half.png',)
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              //При изменении радиокнопки цена из блока .price учитывается в пересчете
                общей цены (блок .total-price выше) и для вывода в шапке (блок .frame-price, .battery-price, ...)
              .price 250 €
              .title.__margin-top Black
            .row
              svg.hex(fill='#9b2821'): +use('hex')
              label.button
                input(type='radio',
                name='details',
                value='details_2',
                data-fill='#9b2821',
                data-side='../build/img/pages/buy/details/red_details.png',
                data-half='../build/img/pages/buy/details/red_details_half.png',)
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 150 €
              .title.__margin-top Red
          .option.links-control
            .block-title Links Color
            .row
              svg.hex(fill='#adc3c5'): +use('hex')
              label.button
                //В value помещаем id конкретной опции
                  data-default - логика такая же как и у цвета
                input(type='radio',
                name='links',
                checked,
                value='links_1',
                data-default='true',
                data-fill='#adc3c5',
                data-side='../build/img/pages/buy/details/allim_links.png',
                data-half='../build/img/pages/buy/details/allim_links_half.png',)
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              //При изменении радиокнопки цена из блока .price учитывается в пересчете
                общей цены (блок .total-price выше) и для вывода в шапке (блок .frame-price, .battery-price, ...)
              .price 200 €
              .title.__margin-top Allunium Matted
            .row
              svg.hex(fill='black'): +use('hex')
              label.button
                input(type='radio',
                name='links',
                value='links_2',
                data-fill='black',
                data-side='../build/img/pages/buy/details/black_links.png',
                data-half='../build/img/pages/buy/details/black_links_half.png',)
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 100 €
              .title.__margin-top Black Matted
            .row
              .hex.__gradient
              label.button
                input(type='radio',
                name='links',
                value='links_3',
                data-fill='gradient',
                data-side='../build/img/pages/buy/details/allim_links.png',
                data-half='../build/img/pages/buy/details/allim_links_half.png',)
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .title.__margin-top.__individual Individual Color
              input.individual(placeholder='Describe your wishes',
              form='order-form',
              name='individual-color')
          .option.frame-control
            .block-title Frame
            .row
              label.button
                //В value помещаем id конкретной опции
                  data-default - логика такая же как и у цвета
                input(type='radio',
                name='frame',
                checked,
                value='frame_1',
                data-default='true')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              //При изменении радиокнопки цена из блока .price учитывается в пересчете
                общей цены (блок .total-price выше) и для вывода в шапке (блок .frame-price, .battery-price, ...)
              .price 20 000 €
              .title Carbon
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='frame',
                value='frame_2')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 21 000 €
              .title Megacarbon
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='frame',
                value='frame_3')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 22 000 €
              .title Supermegacarbon
              .desc Info about item Info about item Info about item about item Info about item
          .option.battery-control
            .block-title Battery
            .row
              label.button
                input(type='radio',
                name='battery',
                checked,
                value='battery_1',
                data-default='true')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 22 000 €
              .title B-20
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='battery',
                value='battery_2')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 23 000 €
              .title Megabattery
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='battery',
                value='battery_3')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 24 000 €
              .title Supermegabattery
              .desc Info about item Info about item Info about item about item Info about item
          .option.motor-control
            .block-title Motor
            .row
              label.button
                input(type='radio',
                name='motor',
                checked,
                value='motor_1',
                data-default='true')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 24 000 €
              .title GT-1080
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='motor',
                value='motor_2')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 25 000 €
              .title GT-1100
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='motor',
                value='motor_3')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 26 000 €
              .title GTX-1200
              .desc Info about item Info about item Info about item about item Info about item
          .option.tyres-control
            .block-title Tyres
            .row
              label.button
                input(type='radio',
                name='tyres',
                checked,
                value='tyres_1',
                data-default='true')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 27 000 €
              .title Pirelli XT-20
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='tyres',
                value='tyres_2')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 28 000 €
              .title Pirelli XT-30
              .desc Info about item
            .row
              label.button
                input(type='radio',
                name='tyres',
                value='tyres_3')
                .button-component.__blue.__select select
                .button-component.__white.__unselect unselect
              .price 29 000 €
              .title Pirelli XT-40
              .desc Info about item Info about item Info about item about item Info about item
